*{
    box-sizing: border-box;
}

body{
    display: flex;
    flex-wrap: wrap;
}

header{
    flex-direction: row;
    background-color: rgb(179, 36, 36);
    color: azure;
    width: 30%;
    text-align: center;
    padding: 3em;
}

nav{
    flex-direction: row;
    background-color: rgb(71, 252, 191);
    color: rgb(7, 20, 65);
    width: 70%;
    text-align: center;
    padding: 3em;
}

main{
    flex-direction: column;
    background-color: rgb(31, 33, 59);
    color: azure;
    flex-direction: row;
    width: 100%;
    text-align: center;
    padding: 10em;
}

footer{
    background-color: rgb(253, 212, 123);
    color: black;
    width: 100%;
    text-align: center;
    padding: 7em;
}

@media screen and (max-width: 576px) {
    header{
        width: 100%;
        padding: .1em;
        font-size: 10px;
        color: rgb(179, 36, 36);
    }

    nav{
        width: 100%;
        padding: 7em;
        background-color: rgb(71, 252, 191);
        color: rgb(7, 20, 65);
    }

    main{
        background-color: rgb(31, 33, 59);
        color: azure;
        flex-direction: row;
        width: 100%;
        padding: 7em;
    }

    footer{
        width: 100%;
        padding: .1em;
        font-size: 10px;
        color: rgb(253, 212, 123);
    }
}
